html
  head
  body
    meta(content='telephone=no', name='format-detection')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet')
    style.
      html {
      margin: 0;
      padding: 0;
      height: 100% !important;
      margin: 0;
      padding: 0;
      width: 100% !important;
      background-color: #F9F9F9 !important;
      }
      body {
      margin: 0;
      padding: 0;
      height: 100% !important;
      margin: 0;
      padding: 0;
      width: 100% !important;
      background-color: #F9F9F9 !important;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      @media only screen and (max-width: 480px) {
      -webkit-text-size-adjust: none !important;
      width: 100% !important;
      min-width: 100% !important;
      }
      }
    //if (gte mso 9)|(IE)
      style.
        .u-textFallback {
        font-family: Arial, Helvetica, sans-serif !important;
        }
    table(cellspacing='0', cellpadding='0', border='0', width='100%')
      tbody
        tr
          td(style='padding: 0 20px;')
            //if (gte mso 9)|(IE)
              table(cellspacing='0', cellpadding='0', border='0', width='602', align='center')
                tbody
                  tr
                    td(valign='top')
            table(cellspacing='0', cellpadding='0', border='0', width='100%', align='center', style='max-width: 602px;')
              tbody
                tr
                  td
                    table(cellspacing='0', cellpadding='0', border='0', width='100%', style='border: 1px solid #CCCCCC;')
                      tbody
                        tr
                          td(style='font-size: 0; background-color: #36424F; text-align: center; padding: 16px 0;')
                            //if (gte mso 9)|(IE)
                              table(cellspacing='0', cellpadding='0', border='0', align='center')
                                tbody
                                  tr
                                    td(valign='top', width='300')
                            div(style='display: inline-block;')
                              table(cellspacing='0', cellpadding='0', border='0', width='300')
                                tbody
                                  tr
                                    td.u-textFallback(style='font-weight: bold; text-align: left; font-size: 19px; color: white; padding: 7px 20px; font-family: Montserrat, Arial, sans-serif; line-height: 1.4;') COOPERSWITCH APP
                            //if (gte mso 9)|(IE)
                            div(style='display: inline-block;')
                              table(cellspacing='0', cellpadding='0', border='0', width='300')
                                tbody
                                  tr
                                    td.u-textFallback(style='text-align: right; font-size: 14px; color: white; padding: 7px 20px; font-family: Montserrat, Arial, sans-serif; line-height: 1.7;')
                            //if (gte mso 9)|(IE)
                        tr
                          td(style='font-size: 0; background-color: white; text-align: center; padding: 15px 0 35px;')
                            //if (gte mso 9)|(IE)
                              table(cellspacing='0', cellpadding='0', border='0', align='center')
                                tbody
                                  tr
                                    td(valign='top', width='300')
                            div(style='display: inline-block; vertical-align: top;')
                              table(cellspacing='0', cellpadding='0', border='0', width='300')
                                tbody
                                  tr
                                    td.u-textFallback(style='line-height: 1.4; text-align: left; font-size: 15px; color: #666666; padding: 15px 20px; font-family: Montserrat, Arial, sans-serif;')
                                      p Hi #{name},
                                      p
                                      
                                      p Thank you for signing up with CooperSwitch. Your login details are as follow:
                                      p Cooper ID: #{cooperId}
                                      p Password: #{temporaryPassword} 
                                      p The first time you log in, follow the instructions to create a new password for your account.
                                      p Thanks,
                                      p Team CooperSwitch
                            //if (gte mso 9)|(IE)
                            //if (gte mso 9)|(IE)
                          tr
                          td
                            table(width='100%', align='center', cellspacing='0', cellpadding='0', border='0')
                              tbody
                                tr
                                  td(style='padding-top: 15px;')
                                    table(width='100%', align='center', style='background-color: #36424F;', cellspacing='0', cellpadding='0', border='0')
                                      tbody
                                        tr
                                          td(style='padding: 45px 0 35px;')
                                            //if (gte mso 9)|(IE)
                                              table(cellspacing='0', cellpadding='0', border='0', width='600', align='center')
                                                tbody
                                                  tr
                                                    td(valign='top')
                                            table(width='100%', align='center', cellspacing='0', cellpadding='0', border='0', style='max-width: 600px; background-color: #36424F; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #777777;')
                                              tbody
                                                tr
                                                  td.u-textFallback(width='100%', style='font-size: 13px; font-family: Montserrat, Arial, Helvetica, sans-serif; color: white; text-align: center; padding: 8px 40px;')
                                                    | For
                                                    | any queries email us at info@cooperswitch.com or call us at 
                                                    p 0700-COOPERSWITCH
                                                tr
                                                  td.u-textFallback(width='100%', style='font-size: 13px; font-family: Montserrat, Arial, Helvetica, sans-serif; color: white; text-align: center; padding: 8px 40px 16px;')
                                                    | 4, Eliada Close off Okporo Road, Rumuogba Port-Harcourt, Nigeria.
                                            table(width='100%', align='center', cellspacing='0', cellpadding='0', border='0', style='width: 100%; max-width: 600px;')
                                              tbody
                                                tr
                                                  td.u-textFallback(width='100%', style='font-size: 13px; font-family: Montserrat, Arial, Helvetica, sans-serif; color: white; text-align: center; padding: 15px 20px 7px;')
                                                    a(href='#', style='color: white; text-decoration: none; font-weight: 700;')
                                                      | CALL
                                                      | TO ACTION
                                                    span  | GET REWARDED
                                                tr
                                                  td(style='padding: 16px 10px 8px;')
                                                    table(align='center', cellspacing='0', cellpadding='0', border='0')
                                                      tbody
                                                        tr
                                                          td(style='padding: 0 7px;')
                                                            a(href='https://twitter.com/cooperswitch')
                                                              img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/330390/mail-twitter-x2.png', alt='Twitter', style='height: 25px;', height='25')
                                                          td(style='padding: 0 7px;')
                                                            a(href='https://www.facebook.com/CooperSwitch')
                                                              img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/330390/mail-facebook-x2.png', alt='Facebook', style='height: 25px;', height='25')
                                                          td(style='padding: 0 7px;')
                                                            a(href='https://www.instagram.com/cooperswitch')
                                                              img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/330390/mail-instagram-x2.png', alt='Instagram', style='height: 25px;', height='25')
                                                          td(style='padding: 0 7px;')
                                                            a(href='#')
                                                              img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/330390/mail-google-plus-x2.png', alt='Google+', style='height: 25px;', height='25')
                                                          td(style='padding: 0 7px;')
                                                            a(href='#')
                                                              img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/330390/mail-pinterest-x2.png', alt='Pinterest', style='height: 25px;', height='25')
                                            //if (gte mso 9)|(IE)
                                            //if (gte mso 9)|(IE)
